
body {
    margin-left: 10%;

}


#grid {
    display: inline-block;
    vertical-align: top;
    position: relative;
    background-color: #99e6ff;
}

.rows:first-child{
    margin: 0;
}
.rows {
    line-height:0;




}
.cols {
    width: 40px;
    height: 40px;
    display: inline-block;



}
#toolBar {
    width: 100px;
    height: 1000px;
    background-color: black;
    display: inline-block;
    margin-left: 2%;

}