
body {
    /*margin-left: 10%;*/
    /*background-image: url("../images/logo.png");*/
    background-repeat: no-repeat;
    background-size: cover;

}
.backgroundImage {
  background-image: url('../images/logo.png');
  background-repeat: no-repeat;
  background-size: contain;
  height: 700px;
}

#startButton {
margin-left: 50%;
}
#grid {
    display: inline-block;
    vertical-align: top;
    position: relative;
    background-color: #99e6ff;
}

.rows:first-child{
    margin: 0;
}
.rows {
    line-height:0;




}
.cols {
    width: 40px;
    height: 40px;
    display: inline-block;



}
#toolBar {
    position: absolute;
    width: 100px;
    height: 1000px;
    background-color: black;
    display: inline-block;
    margin-left: 2%;

}

.tool {
  /*background-color: blue;*/
  position:relative;
  margin-left: 30%;
  color: white;
  width: 40px;
  height: 40px;
  transform: translateY(50%);
}
.tool:hover {
  background-color: blue;
}

p {
  color:white;
  text-align: center;
}

#block {
  height: 40px;
  width: 40px;
  margin-top: 40px;
  margin-bottom: 5px;
  border: white solid 1px;
}

.grass {
    background-image: url('../images/grass.png');
}
.dirt {
    background-image: url('../images/dirt.png');
}
.tree {
    background-image: url('../images/tree.png');
}
.rocks {
    background-image: url('https://hydra-media.cursecdn.com/minecraft.gamepedia.com/thumb/b/b1/CobblestoneTex.png/120px-CobblestoneTex.png?version=264467d55c20ccd4c1aa7f86c1be4d82');
}
.leaves {
    background-image: url('http://www.laboratory424.com/files/images/build/mcpp/panels/leaves-th.png');
}
.cloud {
    background-color: white;
}
